#navbar .orangeNav {
  height: 50px;
  background-color: #EC8403;
}
#navbar .nav {
  background-color: #333F48;
}
#navbar .nav img {
  height: 92px;
  position: absolute;
  top: -40px;
}
#navbar .nav .navbar-toggler-icon {
  background-image: url(../img/ham.svg);
  color: white;
}
#navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#navbar .nav-link {
  color: white;
}
#navbar .nav-link:hover {
  color: #00A6DC;
}
@media (min-width: 768px) {
  #navbar .nav-link {
    display: inline-block;
    margin-left: 20px;
  }
}
@media (min-width: 992px) {
  #navbar .nav-link {
    display: inline-block;
    margin-left: 40px;
  }
}
@media (min-width: 1200px) {
  #navbar .nav-link {
    display: inline-block;
    margin-left: 60px;
  }
}

#banner {
  position: relative;
}
#banner .container-fluid {
  background-image: url(../img/banner.jpeg);
  aspect-ratio: 24/10;
  background-size: cover;
  background-position: center top;
  min-height: 300px;
}
#banner .bannerText {
  display: none;
}
#banner .bannerIntro {
  width: 230px;
  background: rgba(236, 132, 3, 0.5);
  padding: 18px 30px;
  position: absolute;
  top: calc(50% - 117px);
  right: calc(50% - 115px);
}
#banner .bannerIntro p {
  font-size: 24px;
  color: white;
}
#banner .bannerIntro .btn-outline-white {
  color: white;
  border-color: white;
  border-radius: 0;
  width: 172px;
}
#banner .bannerIntro .btn-outline-white svg {
  width: 12px;
  height: 12px;
  fill: white;
}
#banner .bannerIntro .btn-outline-white:hover {
  color: rgba(236, 132, 3, 0.9);
  background-color: white;
}
#banner .bannerIntro .btn-outline-white:hover svg {
  fill: #ec8403;
}
@media (min-width: 576px) {
  #banner .bannerText {
    color: #173045;
    position: absolute;
    top: calc(60% - 40px);
    left: 5%;
    display: block;
  }
  #banner .bannerText h1 {
    font-size: 36px;
  }
  #banner .bannerText h2 {
    font-size: 16px;
    text-shadow: 1px 1px 0 white;
  }
  #banner .bannerIntro {
    right: 5%;
  }
}
@media (min-width: 992px) {
  #banner .bannerText {
    top: calc(60% - 56px);
  }
  #banner .bannerText h1 {
    font-size: 54px;
  }
  #banner .bannerText h2 {
    font-size: 26px;
  }
  #banner .bannerIntro {
    width: 320px;
    padding: 24px;
    top: calc(50% - 159px);
  }
  #banner .bannerIntro p {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  #banner .bannerText {
    top: calc(60% - 67px);
    width: 325px;
    height: 134px;
  }
  #banner .bannerText h1 {
    font-size: 70px;
  }
  #banner .bannerText h2 {
    font-size: 32px;
  }
  #banner .bannerIntro {
    width: 410px;
    height: 476px;
    right: 5%;
    top: calc(50% - 238px);
    padding: 36px 60px;
  }
  #banner .bannerIntro p {
    font-size: 46px;
  }
  #banner .bannerIntro .btn-outline-white {
    width: 172px;
  }
}

#aboutUs h1 {
  text-align: center;
  margin-bottom: 2rem;
}
#aboutUs span {
  color: #EC8403;
}
#aboutUs span:hover {
  cursor: pointer;
}
#aboutUs svg {
  fill: #EC8403;
  width: 12px;
  height: 12px;
}
@media (min-width: 768px) {
  #aboutUs .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #aboutUs .container h1 {
    text-align: left;
    margin-bottom: 0;
  }
  #aboutUs .container p {
    margin-bottom: 0;
    margin-left: 2rem;
  }
}