#aboutUs {
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  a {
    text-decoration: none;
    color: #EC8403;
  }

  svg {
    fill: #EC8403;
    width: 12px;
    height: 12px;
  }

  @include md {
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;

      h1 {
        text-align: left;
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
        margin-left: 2rem;
      }
    }
  }
}