#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .orangeNav {
    height: 50px;
    background-color: white;
    padding: 0;

    .line {
      height: 4px;
      width: 100%;
      background-color: #EC8403;
    }

    .navTag {
      height: 46px;
      width: 100%;
      background: linear-gradient(45deg, #333F48 0% 60.5%, #00A6DC 60.5% 61%, #EC8403 61% 100%);
    }
  }

  .nav {
    background-color: #333F48;

    img {
      height: 92px;
      position: absolute;
      top: -40px;
    }

    .navbar-toggler-icon {
      background-image: url(../img/ham.svg);
      color: white;
    }
  }

  .navbar-toggler:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .nav-link {
    color: white;

    &:hover {
      color: #00A6DC;
    }

    @include md {
      display: inline-block;
      margin-left: 20px;
    }

    @include lg {
      display: inline-block;
      margin-left: 40px;
    }

    @include xl {
      display: inline-block;
      margin-left: 60px;
    }
  }
}